.hobbies-title p {
  font-size: 2.5rem;
  margin-left: 70px;
  font-weight: bolder;
  border-bottom: 2px solid black;
  width: 250px;
  animation: fadeInLeft 1.5s;
}
.grid-container-hobbies {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 5rem;
  padding: 50px 0;
}
.grid-container-hobbies a {
  height: 100px;
  width: 100px;
  object-fit: contain;
  animation: fadeInLeft 1.5s;
}
.grid-container-hobbies a:hover {
  transform: scale(1.1);
}
.name {
  height: 200px;
}
#gaming {
  content: url(./images/console.png);
}
#basketball {
  content: url(./images/basketball-ball-variant.png);
}
#photography {
  content: url(./images/photo-camera-vintage.png);
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@media only screen and (max-width: 767px) {
  .hobbies-title p {
    margin-left: 0px;
    font-size: 1.7rem;
  }
  .grid-container-hobbies {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    height: 680px;
  }
}
@media only screen and (min-witdh: 768px) and (max-width: 1200px) {
  .hobbies-title p {
    margin-left: 25px;
  }
}
